<span class='tab'
        [ngClass]='{active: selected === "extract", valid: validation["extract"]}'
        (click)='select("extract")'
        >
    Extract&nbsp;<i class='fa fa-check-circle'></i>&nbsp;<i class='fa fa-chevron-left'></i>
</span>
<span class='tab'
        [ngClass]='{active: selected === "map", valid: validation["map"]}'
        (click)='select("map")'
        >
    Map&nbsp;<i class='fa fa-check-circle'></i>&nbsp;<i class='fa fa-chevron-left'></i>
</span>
<span class='tab'
        [ngClass]='{active: selected === "enrich", valid: validation["enrich"]}'
        (click)='select("enrich")'
        >
    Enrich&nbsp;<i class='fa fa-check-circle'></i>&nbsp;<i class='fa fa-chevron-left'></i>
</span>
<span class='tab'
        [ngClass]='{active: selected === "publish", valid: validation["publish"]}'
        (click)='select("publish")'
        >
    Publish&nbsp;<i class='fa fa-check-circle'></i>&nbsp;<i class='fa fa-chevron-left'></i>
</span>
<span>
    <a (click)='store.setConfig(null)'>&lt;&lt;&lt; Back</a>
</span>