/* You can add global styles to this file, and also import other style files */
body {
    font-size: 16px;

    .only-rtl {
        display: none;
    }

    &.rtl {
        * {
            direction: rtl;
            text-align: right;
        }
        
        app-step-tabs {
            .tab-container {
                right: 20px;
                left: auto;
            }
        }

        .only-ltr {
            display: none;
        }
        .only-rtl {
            display: initial;
        }        
    }
}

* {
    font-family: 'Assistant', 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;    
}

a {
    cursor: pointer;
}

.formish {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;

    * {
        flex: 0 0 auto;
    }

    label {
        flex: 0 0 auto;
        min-width: 150px;
        white-space: nowrap;
        align-self: flex-start;
        position: relative;
        top: 4px;
    }

    & > input[type='url'] {
        min-width: 400px;
    }
}

.fas {
    color: black;
    font-size: 14px;
    padding: 3px 5px;
}